{% extends 'base.html.twig' %}

{% block body %}
<section class="articles mx-auto">

    
    <div class="row">
        {% for article in articles %}
        <div class="col-md-6">
            <article class="article bg-white rounded shadow">
                <h2 class="p-2 mt-5">{{ article.title }}</h2>
                <div class="p-2 metadata">ecrit le {{ article.createdAt | date('d/m/y') }} à
                    {{ article.createdAt | date('H:i') }} par {{article.user}}</div>
                <div class="p-2 mt-2 content">
                    <div class="mw-100 overflow-hidden">
                        <a href="{{ path('show_article', {'id': article.id}) }}"><img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('rectangle_thumbnail_large') }}"
                            alt="{{ article.title }}" class="w-100 rounded-top"></a>
                    </div>
                    <p class="mt-2">{{ article.content | u.truncate(50, ' ...', false) | raw }}</p>
                    <a href="{{ path('show_article', {'id': article.id}) }}" class=" mb-2 btn btn-primary">Lire la
                        suite</a>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
    

</section>
<div class="separator"></div>
{% endblock %}